@charset "utf-8";
#osu {
	width: 400px;
	height: 230px;
}
h5 {
    text-align: center;
    color: orange;
    text-shadow: 2px 2px 2px rgba(0,0,0,1.00);
    font-size: large;
    line-height: 9px;
}

h6 {
    text-align: center;
    color: orange;
    text-shadow: 2px 2px 2px rgba(0,0,0,1.00);
    font-size: large;
    line-height: 9px;
}

body {
    background-color: rgba(23,23,23,1.00);
	background-image: url('photos/lowcontrastleaves2.jpg');
    background-size: cover;
    background-repeat: repeat;
    background-attachment: fixed;
    overflow: auto;
    background-position: center;
}
h2 { 
    color: #0F00CB;
    text-shadow: 2px 2px 2px rgba(0,0,0,1.00);
    font-size: large;
}

@media (min-width: 1920px) and (max-width: 2559px) {
    h1 { margin-left: 600px; margin-right: 600px; }
}     
@media (min-width: 2560px) {
	h1 {margin-left: 1100px; margin-right: 1100px; }
} 
@media (min-width: 1280px) and (max-width: 1919px) {
	h1 {margin-left: 500px; margin-right: 500px; }
} 
@media (min-width: 3840px) {
	h1 {margin-left: 1700px; margin-right: 1700px; }
	} 	

h1 {
    color: #1400FF;
    text-align: center;
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
    font-weight: bold;
    font-size: 39px;
    margin-bottom: -1px;
    border-bottom: 5px solid #00032D;
    border-top-width: 5px;
    border-right-width: 5px;
    border-left-width: 5px;
    border-top-style: solid;
    border-right-style: solid;
    border-left-style: solid;
    border-radius: 30px / 0px;
}
body h6 {
    text-align: center;
    color: #085BB1;
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
    font-style: normal;
    font-size: 1.5em;
    list-style-position: outside;
}
body h1 {
    font-size: 3em;
}
body img {
    width: 401px;
}
body h1 {
    text-align: center;
}
h4 {
    text-decoration: line-through;
}
body p {
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
    font-variant: normal;
    font-weight: normal;
    font-size: 15pt;
    color: #FFFFFF;
	text-shadow: 2px 2px black;
	text-align: center;
}
body h3 {
    text-align: center;
    color: #FFF;
    text-shadow: 2px 2px 2px rgba(0,0,0,1.00);
    font-size: large;
}
a{
    color: #FFF;
}
body h1 {
    color: #1400FF;
}


@media (min-width: 1280px){
}

@media (min-width: 1280px) and (max-width: 3840px){
}

@media (min-width: 1280px) and (max-width: 3840px){
}

@media (min-width: 1280px) and (max-width: 3840px){
}

@media (max-width: 3840px){
}

@media (max-width: 1300px){
}
.hide {
  display: none;
}

.myDIV:hover + .hide {
  display: block;
  color: red;
}

.languages { 
    color: #FFF;
    text-shadow: 2px 2px 2px rgba(0,0,0,1.00);
    font-size: 130%;
    text-align: center;
    width: 100%;
    
}
@keyframes wave {
	
}
h3:hover {
	animation: wave 3s;
	animation-iteration-count: infinite;
}

#title {
    width: 20%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color:rgba(35,47,31,0.5);
    border: 2px black solid; 
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	font-size: 20px;
	color: white;
	margin-bottom: 20px;
}

#title img {
	width: 100%;
	height: 87.5%;
}

.twitch { 
  	display: block;
  	margin-left: auto;
  	margin-right: auto;
	text-align: center; 
	margin-top: 50px;
}
div#twitch-embed { 
	height: 100vh;
}

#accounts {
    width: 100%;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	align-content: center;
	display: flex;
	justify-content: center;
}

#accounts img { 
    margin-left: auto;
	margin-right: auto;
}
.typeracer {
    width: 100%;
}

.logos {
    width: 300px;
	height: 300px;
}
.logo {
	width: 40%;
}

