@charset "utf-8";
h5 {
    text-align: center;
    color: orange;
    text-shadow: 2px 2px 2px rgba(0,0,0,1.00);
    font-size: large;
    line-height: 9px;
}

h6 {
    text-align: center;
    color: orange;
    text-shadow: 2px 2px 2px rgba(0,0,0,1.00);
    font-size: large;
    line-height: 9px;
}